repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: CNAME
      - id: check-yaml
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: update-last_modified
        name: Update Last Modified Date
        entry: .pre-commit-scripts/update-last_modified.sh
        exclude: docs/user-docs/_drafts/how-to-write-documentation.md
        language: "script"
