{% assign navigation = include.nav %}
{% assign paddingTitle = include.depth | times: 10 %}
{% assign padding = include.depth | times: 10 | plus: 10 %}

<li class="nav_item">
  <a href="#" style="padding-left:{{paddingTitle}}px">{{navigation.title}}</a>
  <ul>
    {% for item in navigation.navitems %}
    {% if item.navitems %}
    {% assign newdepth = include.depth | plus: 1 %}
    {% include subnav.html nav=item depth=newdepth %}
    {% elsif item.external_url %}
    <li><a href="{{item.external_url}}" target="_blank" rel="noopener"
        style="padding-left:{{padding}}px">{{item.title}}</a></li>
    {% elsif page.url == item.url %}
    <li class="active"><a href="{{item.url | remove: " /"}}" style="padding-left:{{padding}}px">{{item.title}}</a></li>
    {% elsif item.url %}
    <li><a style="padding-left:{{padding}}px" href="{{item.url | remove: " /"}}">{{item.title}}</a></li>
    {% endif %}
    {% endfor %}
  </ul>
</li>
