/* ==========================================================================
   Variables
   ========================================================================== */

/*
   Typography
   ========================================================================== */

$doc-font-size: 16 !default;

/* paragraph indention */
$paragraph-indent: false !default; // true, false (default)
$indent-var: 1.3em !default;

/* system typefaces */
$monospace: Monaco, Consolas, "Lucida Console", monospace !default;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

$poppins: 'Poppins';
$sans-serif: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
  "Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;

// Link fonts to different sections
// default font
$global-font-family: $sans-serif !default;
// font in header
$masthead-font-family: $poppins !default;
// change font of landing page to poppings, landing page uses splash layout.
$splash-font-family: $poppins !default;
// change font of landing page to poppins, landing page uses header image.
$header-image-font-family: $poppins !default;
// font in footer
$footer-font-family: $poppins !default;
// text displayed in search window
$search-window-font-family: $poppins !default;
// font for page content in documentation/video pages and posts
$page-content-font-family: $sans-serif !default;
// captions
$caption-font-family: $sans-serif !default;
// header in text sections of documentation/video pages and posts
$header-font-family: $sans-serif !default;
// Sidebar on the left side of documentation/video pages
$sidebar-font-family: $sans-serif !default;
// buttons
$butons-font-family: $poppins !default;
// TOC showed on the right of documentation/video pages
$toc-font-family: $sans-serif !default;
// forms font
$forms-font-family: $poppins !default;
// breadcrumbs font
$breadcrumbs-font-family: $sans-serif !default;
// pagination
$pagination-font-family: $sans-serif !default;

/* type scale */
$type-size-1: 2.441em !default; // ~39.056px
$type-size-2: 1.953em !default; // ~31.248px
$type-size-3: 1.563em !default; // ~25.008px
$type-size-4: 1.25em !default; // ~20px
$type-size-5: 1em !default; // ~16px
$type-size-6: 0.8750em !default; // ~14px
$type-size-7: 0.75em !default; // ~12px
$type-size-8: 0.6875em !default; // ~11px
$type-size-9: 0.625em !default; // ~10px

/* headline scale */
$h-size-1: 1.5em !default; // ~24px
$h-size-2: 1.375em !default; // ~22px
$h-size-3: 1.25em !default; // ~20px
$h-size-4: 1.125em !default; // ~18px
$h-size-5: 1em !default; // ~16px


/* Sidebar sizes. */
$main-menus: 18px;
$subnav: 16px;
$dropdown: 30px;

/*
   Colors
   ========================================================================== */
/* Ci4Rail Colors */
$ci4rail-orange: #ff6116 !default;
$lighter-ci4rail-orange: mix(#fff, $ci4rail-orange, 80%) !default;
$ci4rail-brown: #666666 !default;
$lighter-ci4rail-brown: mix(#fff, $ci4rail-brown, 70%) !default;
$light-ci4rail-brown: mix(#fff, $ci4rail-brown, 80%) !default;

$gray: #7a8288 !default;
$dark-gray: mix(#000, $gray, 50%) !default;
$darker-gray: mix(#000, $gray, 60%) !default;
$light-gray: mix(#fff, $gray, 50%) !default;
$lighter-gray: mix(#fff, $gray, 90%) !default;

$background-color: #fff !default;
$code-background-color: #fafafa !default;
$code-background-color-dark: $light-gray !default;
$text-color: $dark-gray !default;
$muted-text-color: mix(#fff, $text-color, 20%) !default;
$border-color: $lighter-ci4rail-brown !default;
$form-background-color: $lighter-gray !default;
$footer-background-color: rgba(0,0,0,0.7) !default;
$footer-background-image: "/assets/images/footer_background.jpg" !default;

$primary-color: #6f777d !default;
$success-color: #3fa63f !default;
$warning-color: #d67f05 !default;
$danger-color: #ee5f5b !default;
$info-color: #3b9cba !default;
$focus-color: $primary-color !default;
$active-color: $light-ci4rail-brown !default;

/* YIQ color contrast */
$yiq-contrasted-dark-default: $dark-gray !default;
$yiq-contrasted-light-default: #fff !default;
$yiq-contrasted-threshold: 175 !default;
$yiq-debug: false !default;

/* brands */
$behance-color: #1769ff !default;
$bitbucket-color: #205081 !default;
$dribbble-color: #ea4c89 !default;
$facebook-color: #3b5998 !default;
$flickr-color: #ff0084 !default;
$foursquare-color: #0072b1 !default;
$github-color: #ffffff !default;
$gitlab-color: #e24329 !default;
$instagram-color: #517fa4 !default;
$keybase-color: #ef7639 !default;
$lastfm-color: #d51007 !default;
$linkedin-color: #007bb6 !default;
$mastodon-color: #2b90d9 !default;
$pinterest-color: #cb2027 !default;
$reddit-color: #ff4500 !default;
$rss-color: #fa9b39 !default;
$soundcloud-color: #ff3300 !default;
$stackoverflow-color: #fe7a15 !default;
$tumblr-color: #32506d !default;
$twitter-color: #55acee !default;
$vimeo-color: #1ab7ea !default;
$vine-color: #00bf8f !default;
$youtube-color: #bb0000 !default;
$xing-color: #006567 !default;

/* links */
$link-color: $ci4rail-orange !default;
$link-color-hover: mix($ci4rail-orange, $ci4rail-brown, 75%) !default;
$link-toc-hover: mix($ci4rail-orange, $ci4rail-brown, 25%) !default;
$link-color-visited: mix(#fff, $link-color, 15%) !default;
$navicon-link-color-hover: mix(#fff, $primary-color, 75%) !default;

/* syntax highlighting (base16) */
$base00: #263238 !default;
$base01: #2e3c43 !default;
$base02: #314549 !default;
$base03: #546e7a !default;
$base04: #b2ccd6 !default;
$base05: #eeffff !default;
$base06: #eeffff !default;
$base07: #ffffff !default;
$base08: #f07178 !default;
$base09: #f78c6c !default;
$base0a: #ffcb6b !default;
$base0b: #c3e88d !default;
$base0c: #89ddff !default;
$base0d: #82aaff !default;
$base0e: #c792ea !default;
$base0f: #ff5370 !default;

$masthead-background-color: white !default;
$masthead-link-color: $ci4rail-brown !default;
$masthead-link-color-hover: mix(#000, $primary-color, 25%) !default;

/* Documentation */
$static-text-color: white;
$dynamic-background-color: $lighter-gray;
$dynamic-text-color: $ci4rail-brown;


/*
   Breakpoints
   ========================================================================== */

$small: 600px !default;
$medium: 768px !default;
$medium-wide: 900px !default;
$large: 1024px !default;
$x-large: 1920px !default;
$max-width: $x-large !default;

/*
   Grid
   ========================================================================== */

$right-sidebar-width-narrow: 200px !default;
$right-sidebar-width: 300px !default;
$right-sidebar-width-wide: 400px !default;

/*
   Other
   ========================================================================== */

$border-radius: 2px !default;
$box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125) !default;
$nav-height: 2em !default;
$nav-toggle-height: 2rem !default;
$navicon-width: 1.5rem !default;
$navicon-height: 0.25rem !default;
$global-transition: all 0.2s ease-in-out !default;
$intro-transition: intro 0.3s both !default;
